<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   HELLO WORLD! 

   <h1>Enter your marks :- </h1>
   <form action="/submit" method="get">
    <table>
      <tr>
        <td><label for="tamil">Tamil:</label></td>
        <td><input type="text" id="tamil" name="tamil" pattern="[0-9]+(\.[0-9]+)?" title="Please enter only numbers" required></td>
      </tr>
      <tr>
        <td><label for="english">English:</label></td>
        <td><input type="text" id="english" name="english" pattern="[0-9]+(\.[0-9]+)?" title="Please enter only numbers" required></td>
      </tr>
      <tr>
        <td><label for="maths">Maths:</label></td>
        <td><input type="text" id="maths" name="maths" pattern="[0-9]+(\.[0-9]+)?" title="Please enter only numbers" required></td>
      </tr>
      <tr>
        <td><label for="chemistry">Chemistry:</label></td>
        <td><input type="text" id="chemistry" name="chemistry" pattern="[0-9]+(\.[0-9]+)?" title="Please enter only numbers" required></td>
      </tr>
      <tr>
        <td><label for="physics">Physics:</label></td>
        <td><input type="text" id="physics" name="physics" pattern="[0-9]+(\.[0-9]+)?" title="Please enter only numbers" required></td>
      </tr>
    </table>
    <br>
    <input type="submit" value="Submit">
  </form>
  
  
  

</body>
</html>